.titulo {
    font-size: 76px;
}

.robo-image{

    background-color: red;
    width: 50vw; /* 50% do tamanho horizontal do monitor */
    height: 100vh; /* 50% da altura da tela */


}

.page-container{
    display: flex; /*um ao lado do outro*/


}

.login-container{

    background-color: green;
    width: 50vw; /* 50% do tamanho horizontal do monitor */
    height: 100vh; /* 50% da altura da tela */

    /* sera muito usado esses 4 comandos*/

    display: flex; /*ativar o flex */
    flex-direction: column; /* muda o flex para colunas */
    align-items: center; /* centralizar horizontalmente */
    justify-content: center; /* centralizar verticalmente */








}