@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* { /* todos os elementos */

    padding: 0px; /*margem interna*/
    margin: 0px; /*margem externa */
    box-sizing: border-box; /* muda a estrutura de espacamento*/
    font-family:"inter"; 


}
.titulo {
    font-size: 76px;
    font-family: "Inter";

}

.robo-image{

    background-image: url("../assets/imgs/Rectangle\ 1\ \(2\).png");
    background-size: cover;

    width: 50vw; /* 50% da largura do monitor */
    height: 100vh; /* 100% da altura da tela */


}

.page-container{
    display: flex; /*um ao lado do outro*/


}

.login-container{



    /* sera muito usado esses 4 comandos*/

    display: flex; /*ativar o flex */
    flex-direction: column; /* muda o flex para colunas */
    align-items: center; /* centralizar horizontalmente */
    justify-content: center; /* centralizar verticalmente */
}

.classe{/*com ponto antes*/

}

#id {/*com hashtag antes*/

}

img {/* tags, sem nenhum prefixo */

}

.login-container img {

    height: 60px;


}











}